BODY{
    background-color:#191919;
    color:#FFEECC;
    font-family: Verdana, Tahoma, Helvetica, Arial;;
    font-size:11px;
    font-weight:400;
}
a{
    color:#ECB912;
}
#global_container{
    max-width:900px;
    background-color:#444444;
    border-width:1px;
    border-style:solid;
    border-color:#5F6566;
    margin-left:auto;
    margin-right:auto;
    padding:10px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}
#header #header_text{
    font-family: 'Play', sans-serif;
    display:block;
    color:#ECB912;
    text-decoration:none;
    font-weight:700;
    font-size:32px;
}
#header #header_info{
    font-family: 'Play', sans-serif;
    display:block;
    color:#FFFFFF;
    text-decoration:none;
    font-weight:700;
    font-size:13px;    
}

.post{
    display:block;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    padding:5px;
    margin:5px;
    border-style:solid;
    border-width:1px;
    border-color:#5A5A5A;
    background-color:#3F3F3F;
}
.post .author{
    display:block;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    padding:5px;
    margin:-6px;
    border-style:solid;
    border-width:1px;
    border-color:#5A5A5A;
    background-color:#333333;
}
.post_title{
    font-size:15px;
    font-weight:700;
    display:block;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    padding:5px;
    margin:5px;
    border-style:solid;
    border-width:1px;
    border-color:#5A5A5A;
    background-color:#2C2C2C;

}
.post_tag_item_sticky,
.post_tag_item_sticky:visited{
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border-style:solid;
    border-width:1px;
    border-color:#E5B416;
    background-color:#C09D2D;
    padding-left:4px;
    padding-right:4px;
    margin-top:6px;
    margin-bottom:6px;
    margin-right:5px;
    font-weight:700;
    color:#ffffff;
    font-size:10px;
    text-decoration:none;
}
.post_tag_item_sticky:hover{
    background-color:#000000;
    border-color:#020202;
}

.post_tag_item,
.post_tag_item:visited{
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border-style:solid;
    border-width:1px;
    border-color:#5A5A5A;
    background-color:#4E4E4E;
    padding-left:4px;
    padding-right:4px;
    margin-top:6px;
    margin-bottom:6px;
    margin-right:5px;
    font-weight:400;
    color:#ffffff;
    font-size:10px;
    text-decoration:none;
}
.post_tag_item:hover{
    background-color:#000000;
    border-color:#020202;
}
