BODY{
    background-color:#3e3e3e;
    color:#FFEECC;
    font-family: Arial, Verdana, Tahoma, Helvetica, Arial;;
    font-size:12px;
    font-weight:400;
    padding:0px;
    margin:0px;
    overflow:scroll;
}
a{
    color:#ECB912;
}
th{
    font-size:11px;
    font-weight:normal;
    text-align:left;
    vertical-align:top;
}
#global_container{
    max-width:1200px;
    margin:auto;
    padding:10px;
    background-color:#171717;
    border:1px solid #232323;
    height:auto !important;
    height:100%;
    vertical-align:bottom;
}
#header{
	background: #0A0A0B url(http://www.gamedevid.org/forum/styles/GDIDark/misc/hdr_back-o.gif);
	width: 100%;
	height: 96px;
	margin: 0;
	padding: 0;
}
#header #header_text{
    font-family: 'Play', sans-serif;
    display:block;
    color:#ECB912;
    text-decoration:none;
    font-weight:700;
    font-size:32px;
}
#header #header_info{
    font-family: 'Play', sans-serif;
    display:block;
    color:#FFFFFF;
    text-decoration:none;
    font-weight:700;
    font-size:13px;    
}

#header .logo {
	text-decoration: none;
}

#header .logo img {
	border-style: none;
}

#header .logo span { display: none; }

#header_bottom {
	background: #363536 url(http://www.gamedevid.org/forum/styles/GDIDark/misc/mid_hdr_back.gif) repeat-x;
	width: 100%;
	height: 14px;
	margin: 0;
	padding: 0;
}

#nav{
	background: #111 url(http://www.gamedevid.org/forum/styles/GDIDark/misc/nav_back.gif);
	background-repeat: repeat-x;
	width: 100%;
	padding-top:3px;
}

.post{
    display:block;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    padding:5px;
    margin:5px;
    border-style:solid;
    border-width:1px;
    border-color:#5A5A5A;
    background-color:#3F3F3F;
}
.post .author{
    display:block;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    padding:5px;
    margin:-6px;
    border-style:solid;
    border-width:1px;
    border-color:#5A5A5A;
    background-color:#333333;
}
.post_title{
    font-size:13px;
    font-weight:700;
    display:block;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    padding:5px;
    margin:5px;
    color:#ecb912;
    border-style:solid;
    border-width:1px;
    border-color:#5A5A5A;
    background-color:#171717;

}
.post_tag{
    float:right;
}
.post_tag_item_sticky,
.post_tag_item_sticky:visited{
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border-style:solid;
    border-width:1px;
    border-color:#8c7323;
    background-color:#6a5b29;
    padding-left:4px;
    padding-right:4px;
    margin-top:6px;
    margin-bottom:6px;
    margin-right:5px;
    font-weight:700;
    color:#ffffff;
    font-size:10px;
    text-decoration:none;
}
.post_tag_item_sticky:hover{
    background-color:#a28116;
    border-color:#8c7323;
}

.post_tag_item,
.post_tag_item:visited{
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border-style:solid;
    border-width:1px;
    border-color:#5A5A5A;
    background-color:#4E4E4E;
    padding-left:4px;
    padding-right:4px;
    margin-top:6px;
    margin-bottom:6px;
    margin-right:5px;
    font-weight:400;
    color:#ffffff;
    font-size:10px;
    text-decoration:none;
}
.post_tag_item:hover{
    background-color:#000000;
    border-color:#020202;
}

.active-result{
    color:#000000;
}
.result-selected{
    color:#000000;
}
.ui-text{
	padding: 6px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #5f6566;
	outline: none;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset, 0 1px 0 rgba(255,255,255,0.2);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset, 0 1px 0 rgba(255,255,255,0.2);
	box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset, 0 1px 0 rgba(255,255,255,0.2);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25 ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    background-color:#191919;
    color:#ffeecc;
    width:300px;
}
.ui-text:hover{
	border: 1px solid #bdbdbd;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.2);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.2);
	box-shadow: 0 1px 3px rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.2);
}
.ui-text:focus{
	border: 1px solid #95bdd4;
	-webkit-box-shadow: 0 2px 3px rgba(161,202,226,0.5) inset, 0 1px 0 rgba(255,255,255,0.2);
	-moz-box-shadow: 0 2px 3px rgba(161,202,226,0.5) inset, 0 1px 0 rgba(255,255,255,0.2);
	box-shadow: 0 2px 3px rgba(161,202,226,0.5) inset, 0 1px 0 rgba(255,255,255,0.2);
}
#content{
    float:left;
    width:100%;
    display:block;
}
.column{
    text-align:left;
    vertical-align:top;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    padding:5px;
	padding-right:0px;
    margin:5px;
	margin-right:0px;
    border-style:solid;
    border-width:1px;
    border-color:#313131;
    background-color:#2b2b2b;
    margin-bottom:30px;
    
}
.left{
    width:200px;
}
.center{
    border:none;
}
.right{
    width:200px;
}
 
.tag_root {
    margin:0px;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:5px;
    list-style-type:none;
}

.tag_root ul{
    padding-left:2px;
}
.tag_root li{
    list-style-type:none;
	padding:1px;
	margin:1px;
}
.tag_root a{
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border-style:solid;
    border-width:1px;
    border-color:#2b2b2b;
    background-color:#2b2b2b;
    text-decoration:none;
}
.tag_root a:hover {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border-style:solid;
    border-width:1px;
    border-color:#887949;
    background-color:#887949;
    color:#ffffff;
    text-decoration:none;
}
.tag_parent a{
	font-weight:bold;
	color:#f1b906
}
.tag_child a{
	font-weight:normal;
	color:#ffffff;
}
.tag_child a:before { content:"-  "; }

.column_header{
    display:block;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    padding:5px;
    margin:-6px;
    margin-top:-9px;
    margin-bottom:8px;
	margin-right:-2px;
    border-style:none;
    border-width:1px;
    border-color:#5A5A5A;
    background-color:#333333;
    font-weight:bold;
    font-size:14px;
    color:#f1b906;
	background: #111 url(http://www.gamedevid.org/forum/styles/GDIDark/misc/nav_back.gif);
	background-repeat: repeat-x;
}

.recent_threads_item_box_even{
	background-color:#3c3c3c;
}

.recent_threads_item_box_odd{
	background-color:#2b2b2b;
}

.recent_threads_item {
    display:block;
    margin:2px;
    padding:3px;
    text-decoration:none;
    color:#ffeecc;
}
.recent_threads_item:hover {
    background-color:#000000;
    color:#ffffff;
}

.recent_threads_item .info{
    color:#ccc;
    font-size:10px;
}

.recent_threads_item_unread{
	color:#f1b906;
	font-weight:bold;
}

.showcase_container{
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border-color:#333333;
    width:100%;
    background-color:#272727;
}
#showcase_content{
    padding:5px;
    height:200px;
}
#showcase_game_title{
    display:block;
    margin-bottom:10px;
    font-size:18px;
    color:#ffde74;
    text-decoration:none;
}
.showcase_gamethumbnail{
    background-color:#1b1b1b;
    text-align:center;
    margin-top:auto;
    margin-bottom:auto;
    vertical-align:middle;
}
#showcase_navigator{
    background-color:#313131;
    float:bottom;
    height:25px;
    vertical-align:middle;
    padding:10px;
}
.showcase_item{
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border-color:#272727;
    background-color:#1b1b1b;
    color:#ffffff;
    font-weight:bold;
    padding:5px;
    margin-right:5px;
    cursor:pointer;
        
}
.showcase_item:hover{
    background-color:#ECB912;  
}

.random_image{
    text-align:center;
}
.random_image_container{
    text-align:center;
    padding:10px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-width:1px;
    border-radius:3px;
    border-color:#272727;
    border-style:solid;
    background-color:#1b1b1b;
}
.forum_breadcrumbs{
    padding:7px;
    margin:5px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border-style:solid;
    border-width:1px;
    border-color:#5a5a5a;
    background-color:#2c2c2c;
    font-size:11px;
    color:#5a5a5a;
}
.forum_breadcrumbs a {
    text-decoration:none;
}
.thread_posts{
    width:99%;
    padding:0px;
    margin:5px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border-style:solid;
    border-width:1px;
    border-color:#5a5a5a;

}
.thread_posts tr td{
    border-width:0px 1px 1px 0px;
    border-color:#5a5a5a;
    border-style:solid;
}
.thread_posts td, .thread_posts tr, .thread_posts tbody{
    margin:0px;
    padding:0px;
}
.post_header{
    margin:0px;
    background-color:#333333;
    padding:5px;
    border-bottom:1px solid #5a5a5a;
}
.post_content{
    background-color:#3f3f3f;
    padding:5px;
}
.post_content img {
	max-width:690px;
}
.post_author{
    padding:10px;
    font-size:10px;
}
.author_nickname{
    color:#ecb912;
    font-size:12px;
    font-weight:bold;
}
.quick_reply_container{
    padding:7px;
    margin:5px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border-style:solid;
    border-width:1px;
    border-color:#5a5a5a;
    background-color:#2c2c2c;
    font-size:11px;
    color:#5a5a5a;
    text-align:center;
}
.quick_reply_container form{
    text-align:center;
}
.quick_reply_container button{
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border-style:solid;
    border-width:1px;
    border-color:#ffffff;
    width:100px; 
    font-size:10px;
    font-family:Arial, Verdana;
    padding:5px;
    background-color:#f1f1f1;
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.53, rgb(212,212,212)),
    color-stop(0.55, rgb(241,241,241)),
    color-stop(0.55, rgb(241,241,241))
);
background-image: -moz-linear-gradient(
    center bottom,
    rgb(212,212,212) 53%,
    rgb(241,241,241) 55%,
    rgb(241,241,241) 55%
);
}
.avatar{
    padding:5px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border-style:solid;
    border-width:1px;
    border-color:#5a5a5a;
    background-color:#1b1b1b;

}
.latest_showcase_thumbnail{
    margin:2px;
    float:left;
    width:100px;
    height:80px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border-style:solid;
    border-width:1px;
    border-color:#5a5a5a;
    background-color:#1b1b1b;    
    position:relative;
    text-align:center;
    vertical-align:middle;
}
.latest_showcase_thumbnail img{
    padding:0px;
    z-index:1;
    display:block;
    margin-left:auto;
    margin-right:auto;
    
}
.latest_showcase_thumbnail p{
    text-align:center;
    font-size:10px;
    margin:0px;
    float:top;
    position:absolute;
    bottom:0;
    z-index:3;
    background-color:#000000;
    width:100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity: 0.8;
}
