{% load url from future %}
{% if request.user.is_authenticated %}
<div class='column'>
    <div class='column_header'>Hello, {{request.user}}</div>
        <a href="javascript:mainLayout.toggle('south')">Chat</a><br />
        <a href='{% url "posts:new" %}'>Write Post</a><br />
        <a href='{% url "posts:new" %}?game=yes'>Submit Game</a><br />
        <a href='{% url "posts:new" %}?image=yes'>Submit Image</a><br />
        <br /><br />
        <a href='{% url "users:logout" %}'>Log Out</a>
    </div>
</div>


{% endif %}



<div class='column'>
<div class='column_header'>Random Image</div>
...
</div>

<div class='column'>
    <div class='column_header'>Recent Threads</div>
    {% for p in global_latest_posts %}
        <a class='recent_threads_item' href='{% url "posts:view" post_id=p.id slug=p.title_slug %}'>
            {% if not request.user in p.get_readers %}
            <b>
            {% endif %}
            {{p.title}}
            {% if not request.user in p.get_readers %}
            </b>
            {% endif %}
            <span class='info'>({{p.get_replies.count}}) {{p.get_last_reply.author}}</span>
        </a>
    {% endfor %}
</div>

<div class='column'>
<div class='column_header'>Forums</div>
{% include "tags/brief_list.html" %}
</div>
