{% load url from future %}
{% include "users/auth_widget.html" %}
{% if request.user.is_authenticated %}
<div class='column'>
    <div class='column_header'>Hello, {{request.user}}</div>
		<div class="user_action"><a href='/'>Home</a></div>
        <div class="user_action"><a href="javascript:mainLayout.toggle('south')">Chat</a></div>
        <div class="user_action"><a href='{% url "posts:new" %}'>Write Post</a></div>
        <div class="user_action"><a href='{% url "posts:new" %}?game=yes'>Submit Game</a></div>
        <div class="user_action"><a href='{% url "posts:new" %}?image=yes'>Submit Image</a></div>
        <br /><br />
        <div class="user_action"><a href='{% url "users:edit_profile" %}'>Edit Profile</a></div>
        <div class="user_action"><a href='{% url "users:logout" %}'>Log Out</a></div>
    </div>
</div>


{% endif %}

<div class='column'>
<div class='column_header'>Forums</div>
{% include "tags/brief_list.html" %}
</div>
<div class='column'>
    <div class='column_header'>Recent Threads <a class="small_link" href='{% url "posts:list_recent_threads" %}'>(View All)</a> </div>
    {% for p in global_latest_posts %}
		<div class="{% cycle 'recent_threads_item_box_even' 'rect_threads_item_box_odd' %}">
        <a class="recent_threads_item" href='{% url "posts:view" post_id=p.id slug=p.title_slug %}'>
			{% if not request.user in p.get_readers %}
			<span class="recent_threads_item_unread">
			{% endif %}
			{{p.title|truncatewords:5}}
			{% if not request.user in p.get_readers %}
			</span>
			{% endif %}
			<span class='info'>({{p.get_replies.count}}) {{p.get_last_reply.author}}</span>
        </a>
		</div>
    {% endfor %}
</div>



