{% extends "base.html" %}
{% block content %}
<table width='100%'>
    <tbody>
    <tr>
        <td class='column left'>
            {% include "tags/brief_list.html" %}<br /><br /><br /><br />
            <div class='column header'>Top Threads</div>The most viewed & replied threads..<br /><br /><br /><br />
            <div class='column header'>Random Featured</div>Random featured gallery..<br /><br /><br /><br />
            <div class='column header'>Tutorials</div>List of tutorials..<br /><br /><br /><br />
            <div class='column header'>Statistics</div>Web statistics..<br /><br /><br /><br />
        </td>
        <td class='column center'>
            <iframe src="http://gdishoutbox.appspot.com" style="width:100%;height:280px;border:none;">The browser doesn't support for iframe!</iframe>
            {% include "posts/post_list.html" with post_list=posts_latests %}
        </td>
        <td class='column right'>
            <div class='column header'>
                GDI v2 Beta
            </div>
            Selamat datang di GDIv2 Beta. Silahkan daftar dan.... ah sudahlah.. pokoknya daftar dan bikin post sebanyak2nya!.

            <br /><br /><br /><br />
            <div class='column header'>Recent Threads</div>List of recent threads..<br /><br /><br /><br />
            <div class='column header'>Careers</div>List of latest gamedev careers..<br /><br /><br /><br />
            <div class='column header'>News</div>List of latest game news..<br /><br /><br /><br />
            <div class='column header'>Quick Links</div>IGDA, etc...<br /><br /><br /><br />
        </td>
    </tr>

    </tbody>
</table>
{% endblock %}
