{% extends "base.html" %}

{% load url from future %}
{% load thumbnail %}

{% block headername %}
Home [Gamedevid v2]
{% endblock %}

{% block content %}
<script>
    games = {
        {% for g in latest_games %}
            'games_{{g.post.id}}' : {
                'title' : '{{g.post.title}}',
                'desc' : '{{g.post.content_short|striptags}}',
                'author' : '{{g.post.author}}',
                'developer' : '{{g.developer}}',
                'platform' : '{{g.platform_join}}',
                'genre' : '{{g.genre_join}}',
                'post_url' : '{% url "posts:view" post_id=g.post.id slug=g.post.title_slug %}',
                'thumb_url' : '{% thumbnail g.image 300x169 %}',
            },
        {% endfor %}
    }
	
	announcements = {
		{% for p in latest_announcements %}
		'announcements_{{p.id}}' : {
                'title' : '{{p.title}}',
                'desc' : '{{p.content_short|removetags:SETTINGS.POST_CONTENT_UNALLOWED_TAGS|safe}}',
				'post_url' : '{% url "posts:view" post_id=p.id slug=p.title_slug %}',
				'date_created' : '{{p.date_created}} by {{p.author}}',
            },
		{% endfor %}
	}
</script>

<div class='column'>
    <div class='column_header'>Announcements, News and Events</div>
	<div id='showcase_navigator'>
    {% for p in latest_announcements %}
		<!--Tanpa cycle warna background-->
		<!--
		<div class="announcements_item" style="cursor:pointer;" post_id='{{p.id}}'>
			<a href='{% url "posts:view" post_id=p.id slug=p.title_slug %}'>
            <h3 style:"text-align:left">{{p.title}}</h3>
			</a>
		</div>
		-->
		<!--Cycle warna background-->
		<div class="{% cycle 'recent_threads_item_box_even' 'rect_threads_item_box_odd' %}">
		<div class="announcements_item"
			style="cursor:pointer; margin-left:5px; margin-right:5px; padding-top:1px; padding-bottom:1px;" post_id='{{p.id}}'>
			<a href='{% url "posts:view" post_id=p.id slug=p.title_slug %}'>
            <h3 style="margin:2px; padding:4px;">{{p.title}}</h3>
			</a>
		</div>
		</div>
    {% endfor %}
	<a class="small_link" href="http://122.248.234.35/tags/15/news-and-events/">More...</a>
	</div>
	<div id='showcase_content'>
		<h3 align='center'>
		<a id='announcements_title' href='{% url 'posts:view' post_id=latest_announcements.0.id slug=latest_announcements.0.title_slug %}'>
		{{latest_announcements.0.title}}</a>
		</h3><br/>
		<small>
		<span id='announcements_date_created'>{{latest_announcements.0.date_created}} by {{latest_announcements.0.author}}</span>
		</small><br />
		<span id='announcements_desc'>{{latest_announcements.0.content_short|safe}}</span>
	</div>
</div>

<div id="show_shoutbox" style="display: none;">

	<div class="column">
		<a id="hide_shoutbox_button" class="inline_user_action" style="display:none; cursor:pointer" onclick="
			getElementById('show_shoutbox').style.display = 'none';
			getElementById('hide_shoutbox').style.display = '';
			style.display = 'none';
			getElementById('show_shoutbox_button').style.display = '';
			getElementById('shoutbox').src = 'about:blank';
		">Hide Shoutbox</a>
	</div>
	
	<iframe id="shoutbox" src="about:blank" style="100%;height:280px;border:none;margin:0px;" width='100%' height='100%' frameborder='0' scrolling='auto'>The browser doesn't support for iframe!</iframe>
	
</div>
<div class="column" id="hide_shoutbox">
	<a id="show_shoutbox_button" class="inline_user_action" style="cursor:pointer" onclick="
		getElementById('show_shoutbox').style.display = '';
		getElementById('hide_shoutbox').style.display = 'none';
		style.display = 'none';
		getElementById('hide_shoutbox_button').style.display = '';
		getElementById('shoutbox').src = 'http://gdishoutbox.appspot.com';
	">Show Shoutbox</a>
</div>
	
{% if latest_games %}
<div class='column'>
<div class='column_header'>Latest Games</div>
<div id='showcase_navigator'>
    {% include "home/game_showcase_navigator.html" %}
</div>
<div id='showcase_content'>
	{% include "home/game_showcase_details.html" %}
</div>
</div>
{% endif %}

<!-- table width='100%' cellspacing='0' cellpading='0' style='margin:0px;padding:0px'>
    <tbody>
        <tr>
            <td width='50%'>
                <div class='column'>
                    <div class='column_header'>Careers</div>
                    ...
                </div>

            </td>
            <td>
                <div class='column'>
                    <div class='column_header'>Beginner's Guides</div>
                    ...
                </div>

            </td>
        </tr>   
    </tbody>
</table-->


<div class='column'>
	<div class='column_header'>Latest Images</div>
    {% include "home/latest_showcases.html" %}
</div>

<script>
    $(function(){
        $('.showcase_item').hover(function(){
            item = games['games_' + $(this).attr('post_id')];
            $('#showcase_game_title').html(item['title']);
            $('#showcase_game_title').attr('href',item['post_url']);
            $('#showcase_game_desc').html(item['desc']);
            $('#showcase_game_developer').html(item['developer']);
            $('#showcase_game_platform').html(item['platform']);
            $('#showcase_game_genre').html(item['genre']);
            $('#showcase_game_thumb').attr('src',item['thumb_url']);

        });
    });
	
	$(function(){
        $('.announcements_item').hover(function(){
            item = announcements['announcements_' + $(this).attr('post_id')];
            $('#announcements_title').html(item['title']);
            $('#announcements_title').attr('href',item['post_url']);
            $('#announcements_desc').html(item['desc']);
            $('#announcements_date_created').html(item['date_created']);

        });
    });
	
</script>

{% endblock %}
