{% extends "base.html" %}
{% load url from future %}
{% block content %}
{{form.media}}
<script>
$(function(){
    var sampleTags = [
        {% for t in tag_form.tag_optional_list %}
            '{{t}}',
        {% endfor %}
    ];
    $("#id_title").attr('class','ui-text');
    $("#id_tag_sticky").attr('style','width:250px'); 
    $("#id_tag_sticky").chosen(); 
    $("#id_tag_optional").tagit({
        availableTags: sampleTags,
    });
});
</script>

<form method='post' action='' class='ui-form' enctype='multipart/form-data'>
{{form.errors}}
{{tag_form.errors}}
{{image_form.errors}}
{% if request.GET.image %}
    <h2>Submit Image</h2>
    You can submit your Work In Progress (WIP) Game, Game Art, or anything related to game development in here. If this is a finished game, please use "Submit a Game" instead.
    <input type='hidden' name='tag_sticky' value='{{SETTINGS.TAG_IMAGE_ID}}' />
{% endif %}

{% if form.title %}
    <table>
        <tbody>
            <tr>
            {% if not request.GET.image and not request.GET.game%}
            
            <td width='200'>{{tag_form.tag_sticky}}</td>
            {% endif %}
            
            <td>{{form.title}}</td>
            
            {% if request.GET.image %}
            <tr>
                <td style='color:#ffffff'>{{image_form.image}}</td>
            </tr>
            {% endif %}
            </tr>
        </tbody>
    </table>
{% endif %}
{{form.content}}<br />
Optional Tags: {{tag_form.tag_optional}}<br />
{% csrf_token %}
<button type='submit'>Post</button>
</form>

{% endblock %}
