{% extends "base.html" %}
{% load url from future %}
{% block content %}
{{form.media}}
<script>
$(function(){
    var sampleTags = [
        {% for t in tag_form.tag_optional_list %}
            '{{t}}',
        {% endfor %}
    ];
    $("#id_title").attr('class','ui-text');
    $("#id_tag_sticky").attr('style','width:250px'); 
    $("#id_tag_sticky").chosen(); 
    $("#id_tag_optional").tagit({
        availableTags: sampleTags,
    });
});
</script>

<form method='post' action='' class='ui-form' enctype='multipart/form-data'>
{{form.errors}}
{{tag_form.errors}}
{% if request.GET.image %}{{image_form.errors}}{% endif %}
{% if request.GET.game %}{{game_form.errors}}{% endif %}
{% if request.GET.image %}
    <h2>Submit Image</h2>
    You can submit your Work In Progress (WIP) Game, Game Art, or anything related to game development in here. If this is a finished game, please use "Submit a Game" instead.
    <input type='hidden' name='tag_sticky' value='{{SETTINGS.TAG_IMAGE_ID}}' />
{% endif %}

{% if request.GET.game %}
    <h2>Submit Game</h2>
    Submit your finalized game here. Don't forget to include your game screenshot, download links (if any), developer name, release date, genre and platform.
    <input type='hidden' name='tag_sticky' value='{{SETTINGS.TAG_GAME_ID}}' />
{% endif %}


{% if form.title %}
    <table>
        <tbody>
            <tr>
            {% if not request.GET.image and not request.GET.game%}
                <td width='200'>{{tag_form.tag_sticky}}</td>
            {% endif %}
            
            <td>{{form.title}}</td>
            
            {% if request.GET.image and not request.GET.game %}
            <tr>
                <td style='color:#ffffff'>{{image_form.image}}</td>
            </tr>
            {% endif %}
            {% if request.GET.game and not request.GET.image %} 
            <tr>
                <td>
                    <table width='100%' cellspacing='0' cellpadding='0'>
                        <tbody>
                            <tr><th>Screenshot (Required)</th><td>{{game_form.image}}</td></tr>
                            <tr><th>Developer</th><td>{{game_form.developer}}</td></tr>
                            <tr><th>Release Date</th><td>{{game_form.release_date}}</td></tr>
                            <tr><th>Genre</th><td>{{game_form.genre}}</td></tr>
                            <tr><th>Platform</th><td>{{game_form.platform}}</td></tr>
                            <tr><th>Download URL</th><td>{{game_form.download_url}}</td></tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            
            {% endif %}
            </tr>
        </tbody>
    </table>
{% endif %}
{{form.content}}<br />
{% if tag_form.tag_optional %}
Optional Tags: {{tag_form.tag_optional}}<br />
{% endif %}
{% csrf_token %}
<button type='submit'>Post</button>
</form>

{% endblock %}
