{% load url from future %}
{% for p in posts_latests %}

{% if not request.user in p.get_readers %}
<b>
{% endif %}
<a href='{% url "posts:view" post_id=p.id slug=p.title_slug %}'>{{p.title}}</a>
{% if not request.user in p.get_readers %}
</b>
{% endif %}

by <span class='post_author'>{{p.author}}</span> 
on <span class='post_date'>{{p.date_created}}</span><br />
Replies: {{p.get_replies.count}} 
Views: 0 {{p.get_views.count}}
{% if p.get_replies.count > 0 %}
    <br />Last Reply: {{p.get_last_reply.author}}
{% endif %}
{% if p.tags %}
    <br />
    {% if p.sticky_tags %}
        {% for t in p.sticky_tags %}
            <span class='post_tag_item_sticky'>{{t.tag}}</span>
        {% endfor %}
    {% endif %}
    {% for t in p.optional_tags %}
        <span class='post_tag_item'>{{t}}</span>
    {% endfor %}
{% endif %}
<br /><br />
{% endfor %}
