{% load url from future %}

<table width='100%'>
<thead>
    <tr>
        <th align='left'>Post</th>
        <th>Forum</th>
        <th>Replies</th>
        <th>Last Replied</th>
    </tr>
</thead>
<tbody>
{% for p in posts_latests %}
    <tr>
        <td width='50%'>
            {% if not request.user in p.get_readers %}
            <b>
            {% endif %}
            <a href='{% url "posts:view" post_id=p.id slug=p.title_slug %}'>{{p.title}}</a>
            {% if not request.user in p.get_readers %}
            </b>
            {% endif %}<br />
            by {{p.author}}
        </td>
        <td align='center' width='25%'>
            {% if p.tags %}
            {% if p.sticky_tags %}
                {% for t in p.sticky_tags %}
                    <span class='post_tag_item_sticky'>{{t.tag}}</span>
                {% endfor %}
            {% endif %}
            {% endif %}
        </td>
        <td align='center'>{{p.get_replies.count}}</td>
        <td>
            {% if p.get_replies.count > 0 %}
                {{p.get_last_reply.author}} on {{p.get_last_reply.date_created}}
            {% endif %}

        </td>
    </tr>
{% endfor %}
</tbody>

</table>

