{% load url from future %}

<div class='column'>
<div class='column_header'>Search Anu</div>

<table width='100%'>
<thead>
    <tr>
        <th style="text-align:center; font-size:12px; font-weight:bold;">Thread</th>
        <th style="text-align:center; font-size:12px; font-weight:bold;">Forum</th>
        <th style="text-align:center; font-size:12px; font-weight:bold;">Replies</th>
		<th style="text-align:center; font-size:12px; font-weight:bold;">Views</th>
        <th style="text-align:center; font-size:12px; font-weight:bold;">Last Replied</th>
    </tr>
</thead>

<tbody>
{% for p in post_list.object_list %}
    <tr class="{% cycle 'recent_threads_item_box_even' 'rect_threads_item_box_odd' %}">
        <td width='50%'>
            {% if not request.user in p.get_readers %}
            <b>
            {% endif %}
            <a href='{% url "posts:view" post_id=p.id slug=p.title_slug %}'>{{p.title}}</a>
            {% if not request.user in p.get_readers %}
            </b>
            {% endif %}<br />
            by {{p.author}}
        </td>
        <td style="text-align:center" width='25%'>
            {% if p.tags %}
            {% if p.sticky_tags %}
                {% for t in p.sticky_tags %}
                    <a href='{% url 'tags:tag_post_list' tag_id=t.tag.id slug=t.tag.slug %}' class='post_tag_item_sticky'>{{t.tag}}</a>
                {% endfor %}
            {% endif %}
            {% endif %}
        </td>
        <td style="text-align:center">{{p.get_replies.count}}</td>
		<td style="text-align:center"></td>
        <td style="text-align:center">
            {% if p.get_replies.count > 0 %}
				<div style='font-size:12px;color:#f1b906;'>
                {{p.get_last_reply.date_created}}
				</div>
				<small>by {{p.get_last_reply.author}}</small>
            {% endif %}

        </td>
    </tr>
{% endfor %}
</tbody>


</table>
<br /><br />
Jump to: 
{% for n in post_list.paginator.page_range %}
    {% if n == post_list.number %}
        <b>{{n}}</b>
    {% else %}
        <a href='?page={{n}}'>{{n}}</a>
    {% endif %}&nbsp;
{% endfor %}

</div>
