{% load url from future %}
{% load thumbnail %}
<tr>
    <td width='150px' align='center' valign='top' style='background-color:#333333'>
        <div class='post_author'>
        <a class='author_nickname'>{{p.author}}</a><br /><br />

        <img src='{% thumbnail p.author.avatar.image 128x128 %}' class='avatar' /><br />

        Last Login: {{p.author.last_login|date:"y/m/d"}} <br />
        Join Date: {{p.author.date_joined|date:"y/m/d"}} <br />
        Posts : {{p.author.post.count}} <br />
        </div>
    </td>
    <td valign='top' style='background-color:#3f3f3f'>
        <div class='post_header'>
        {% if request.user == p.author or request.user.is_superuser or request.user.is_staff %}
	        <span class="user_action"><a href='{% url 'posts:edit' post_id=p.id %}'>Edit</a></span> 
	    {% else %}
	    &nbsp;
	    {% endif %}
            <div style='float:right;font-size:10px;padding-right:10px;'>
                {{p.date_created}}
            </div>
        </div>
        {% if p.sticky_tags.all.0.tag.id == SETTINGS.TAG_IMAGE_ID %}
        <div class='random_image_container'>
            <img src='{% thumbnail p.image.image 550x413 %}' />
        </div>
        {% endif %}
        <div class='post_content'>
        {% if p.sticky_tags.all.0.tag.id == SETTINGS.TAG_GAME_ID %}
        <div class='random_image_container'>
        <table width='100%'>
            <tbody>
                <tr>
                    <td style='width:300px; border:none;'>
                        <img src='{% thumbnail p.game.image 550x413 %}' />
                    </td>
                    <td align='left' valign='top' style='border:none'>
                        Developer : {{p.game.developer}} <br />   
                        Platform : {{p.game.platform_join}}    <br />
                        Genre : {{p.game.genre_join}}    <br />
                        {% if p.game.download_url %}<br />
                        Download : <a href='p.game.download_url'>{{p.game.download_url}}</a>    
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        {% endif %}
        
        
        {{p.content|removetags:SETTINGS.POST_CONTENT_UNALLOWED_TAGS|safe}}
        {# allow edit for both author and admin #}
        {% if p.author == request.user or request.user.is_staff or request.user.is_superuser %}
        {% endif %}
        </div>
    </td>
</tr>


