{% extends "base.html" %}
{% load url from future %}
{% block content %}
<div class='post_title'>
    {{post.title}}
    {% with post as p %}
    {% if p.tags %}
        <br />
        {% if p.sticky_tag %}<span class='post_tag_item_sticky'>{{p.sticky_tag}}</span>{% endif %}
        {% for t in p.optional_tags %}
            <span class='post_tag_item'>{{t}}</span>
        {% endfor %}
    {% endif %}
    {% endwith %}
</div>
{% include "posts/view_entry.html" with p=post %}
{% for r in post.get_replies %}
    {% include "posts/view_entry.html" with p=r %}
{% endfor %}
<a href='{% url 'posts:new_reply' parent_id=post.id %}'>Reply</a>
{% endblock %}
