{% load url from future %}
{% if request.user.is_authenticated %}
{% else %}
<!--<div id='header_bottom'></div>-->

<!--
<span class="user_action">
<a href='{% url "users:register" %}'>Register</a>
</span>
<span class="user_action">
<a href='{% url "users:login" %}'>Login</a>
</span>
<div id='nav'>
<form method='post' action='{% url "users:login" %}'>
	<small>Please login with your old GDI account if you have one</small><br/>
    <input type='text' name='username' id='username' /> 
    <input type='password' name='password' id='password' />
    <button type='submit'>Login</button>
    {% csrf_token %}
</form>
</div>
-->

<div class='column'>
    <div class='column_header'>Hello, {{request.user}}</div>
		<div class="user_action"><a href='/'>Home</a></div>
        <div class="user_action"><a href='{% url "users:register" %}'>Register</a></div>
        <div class="user_action"><a href='{% url "users:login" %}'>Login</a></div>
		<br/>
        <div id='nav'>
		</div>
    </div>
</div>

{% endif %}
