{% load url from future %}
{% load mptt_tags %}
<ul class="tag_root">
    <div class='column header'>
        Forums
    </div>
    {% recursetree tag_list %}
        {% if node.sticky %}
        <li>
            <div class='child'>- <a href='{% url 'tags:tag_post_list' tag_id=node.id slug=node.slug %}'>{{ node.name }}</a></div>
            {% if not node.is_leaf_node %}
                <ul class="tag_child">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
        {% endif %}
    {% endrecursetree %}
</ul>
